/*-- common --*/
body {
    margin: auto;
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}


main {
    margin: 30px auto;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 1rem;
}



/*-- !common --*/


/*-- Utilities --*/
.container {
    max-width: 800px;
    width: 95%;
    margin: 0 auto;
}

.card {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 10px #c5cbd0;
}

.card .card-header {
    border-bottom: 2px solid #f6f8f9;
}

.card .card-header,
.card .card-body {
    padding: 1rem 2rem;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: transparent;
}

.btn-primary {
    background-color: #45abea;
    color: white;
    border: 1px solid #45abea;
}

.btn-outline-light {
    border: 1px solid #c5cbd0;
    color: #c5cbd0;
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
    padding: 0.15rem;
}

.checkmark {
    border: 1px solid #65c0a9;
    color: #65c0a9;
    font-weight: bold;
}

.cancel {
    border: 1px solid #f0928e;
    color: #f0928e;
    font-weight: bold;
}

.badge {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 0.75rem;
    font-size: 0.9rem;
    text-transform: capitalize;
    color: white;
}



/* Colors */
.bg-editorial {
    background-color: #45abea;
}

.bg-goals {
    background-color: #9c72e4;
}

.bg-recruiting {
    background-color: #64c0a9;
}

.bg-mobile {
    background-color: #f29e33;
}

.bg-website {
    background-color: #d863a1;
}

.bg-sales {
    background-color: #b0c926;
}


/* Spacing */

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

/*-- !Utilities --*/


/*-- header --*/

header {
    background-color: white;
    padding: 0.5rem 1rem;
    margin: 0 auto;
}

.logo {
    margin: 12px 20px;
}


header span {
    font-size: 2.5em;
    font-weight: bold;
    vertical-align: middle;
}

header img {
    vertical-align: middle;
}

/*-- !header --*/


/*-- Footer--*/

footer {
    background-color: white;
    padding: 1rem 2rem;
    text-align: center;
    margin-top: 2rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-size: 18px;
}


/*-- !Footer --*/