/*-- common --*/
body {
    margin: auto;
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}


main {
    margin: 30px auto;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-- !common --*/


/*-- Utilities --*/
.container {
    max-width: 800px;
    width: 95%;
    margin: 0 auto;
}


.card {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 10px #c5cbd0;
}


.card .card-header {
    border-bottom: 2px solid #f6f8f9;
}


.card .card-header,
.card .card-body {
    padding: 1rem 2rem;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: transparent;
}

.btn-primary {
    background-color: #45abea;
    color: white;
    border: 1px solid #45abea;
}

.btn-outline-light {
    border: 1px solid #c5cbd0;
    color: #c5cbd0;
}

/*-- !Utilities --*/


/*-- header --*/

header {
    background-color: white;
    padding: 0.5rem 1rem;
    margin: 0 auto;
}

.logo {
    margin: 12px 20px;
}


header span {
    font-size: 2.5em;
    font-weight: bold;
    vertical-align: middle;
}

header img {
    vertical-align: middle;
}

/*-- !header --*/


/*-- main --*/
.add_btns {
    padding: 5px 10px;
    border-radius: 5px;
}


.mark {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    padding: 4px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
}

.list_point {
    font-size: 18px;
    margin: 5px;
}

.tag {
    font-size: 12px;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
}

.green {
    color: #65c0a9;
    border: 2px solid #65c0a9;
}

.red {
    color: #f0928e;
    border: 2px solid #f0928e;
}

.light_blue {
    background-color: #45abea;
}

.violet {
    background-color: #9c72e4;
}

.dark_green {
    background-color: #64c0a9;
}

.orange {
    background-color: #f29e33;
}

.pink {
    background-color: #d863a1;
}

.light_green {
    background-color: #b0c926;
}

/*-- !main --*/